#home {
    background: url('../oposicion/img/home.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }


.overlay{
  background: #536976;
  background: -webkit-linear-gradient(to right, #292E49, #536976);
  background: linear-gradient(to right, #2c6473, #88b0c8);
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info{
  font-weight: 300;
  line-height: normal;
  color: white;
}

.acceder{
  background-color: #1d5e6b;
}

.navegacion.show{
  left: -15px;
}

.menu{
  right: 80px;
}

.titulo{
  display: flex;
  margin-left: 100px;
}

.nav-link{
  margin: 10px;
  padding-right:10px;
}

.nav-link.active{
  font-weight: 500;
}

.usuario{
  font-weight: 500;
}


.contenedor{
  justify-content: center !important;
  display: flex !important;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  
}

.padding {
    padding: 3rem !important;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
    padding: 0;
}


.card-view:hover {
  transform: scale(1.10);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 10;
  border-radius: 6px;
}



.user-profile {
    border-radius: 5px;
}

.fondoPerfil {
    background: -webkit-gradient(linear, left top, right top, from(#2fb6b8), to(#54cdb2));
    background: linear-gradient(to right, #54cdb2, #2fb6b8);
    padding: 20px 0;
    border-radius: 5px;
}

.card-block {
    padding: 1.25rem;
}

.textoFondoPerfil{
  color: white;
  text-align: center !important;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

.textoPerfil {
    color: #919aa3 !important;
}

.linea {
    border-bottom: 1px solid #e0e0e0;
}

.titulosPerfil {
    font-weight: 600;
    margin-bottom: 5px;
}

.boton{
  background-color: #54cdb2;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  flex: 1;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.eliminar{
  background-color: #ba3636;
}

.contenedorBoton{
  margin-top: 20px;
  display: flex;
  justify-content: space-between
}

#ocultar{
  display: none;
}

#eye1{
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 73%;
  transform: translateY(-50%);
}

#eye2{
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 73%;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  right: 5px;
  border: none;
  background-color: white;
}

.bloque{
  margin: 80px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  
  justify-items: center;
}

.breadcrumb-item{
  font-size: 20px;
  font-weight: bold;
}

.card{
  margin: 20px;
}

.card-body{
  display: flex;
  justify-content: center;
  flex-direction: column
}

.card-text{
  margin-bottom: 0;
}

.contenedorBotonTemario{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column
}

.botonTemario{
  background-color: #54cdb2;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.botonCancelar{
  background-color: #cd243a;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.modal-footer{
  justify-content: center;
}

.enlaceTemario{
  text-decoration: none;
  color: black;
  width: 100%;
}

.trash{
  position: absolute;
  right: 15px;
  top:5px;
}

.breadcrumb{
  margin-top: 30px;
  margin-bottom: 0;
}

.cantidad{
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 0;
  color: #9db5da8c;
}

.form-control{
  border: 1px solid #aaa;
  padding: 0 5px 5px 0;
  min-height: 32px;
}


.formulario{
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}

.sidebar {
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
  text-align: center;
  margin-top: 50px;
  display: inline-table;
  width: 100%;

}

.question {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Para permitir que los elementos se envuelvan a la siguiente línea */
  width: 200px;
}

.question-link {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: black;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  line-height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formularioPrueba{
  width: 100%;
}

.respuesta{
  margin-left: 20px;
}

.green{
  background-color: #54cdb2;
}

.red{
  background-color: #cd243a;
}

.labelPrueba{
  display: inline;
}

.verTemario{
  text-align: center;
}

.popover-body{
  padding: 0;
}

.custom-popover{
    --bs-list-group-color: none; 
    --bs-list-group-bg: none; 
    --bs-list-group-border-color: none; 
    --bs-list-group-border-width: var(--bs-border-width); 
    --bs-list-group-border-radius: var(--bs-border-radius);
}

#list-group-item{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tituloPrueba{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.notaPrueba{
  text-align: center;
  font-size: 18px;
}

.timer{
  text-align: center;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlacePrueba{
  display: flex;
  padding: 0;
}

.all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-right: 25px;
  margin-left: 25px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: white;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: black;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #54cdb2;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(var(--acierto));
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--acierto));
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #cd243a;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(var(--fallo));
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--fallo));
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #696969;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(var(--blanco));
}

@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--blanco));
  }
}

.general{
  margin-top: 30px;
}

.tit{
  display: flex;
  margin-top: 150px;
  justify-content: center;
  font-weight: 500;
}

@media (min-width: 1400px){
  .container{
      max-width: 1520px;
  }
}
  
#spinnerText {
  text-align: center;
  width: 100%;
  margin-top: 5px; 
}

.col{
  font-weight: 500;
}