#home {
    background: url('../oposicion/img/home.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding-top: 12em;
    text-align: center;
  }


  .overlay{
    background: #536976;
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #2c6473, #88b0c8);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .info{
    font-weight: 300;
    line-height: normal;
    color: white;
  }

  .acceder{
    background-color: #1d5e6b;
  }

  .navegacion.show{
    left: -15px;
  }

  .menu{
    right: 80px;
  }

  .titulo{
    display: flex;
    margin-left: 100px;
  }

  .nav-link{
    margin: 10px;
    padding-right:10px;
  }


.contenedor{
  justify-content: center !important;
  display: flex !important;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  
}

.padding {
    padding: 3rem !important;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.user-profile {
    border-radius: 5px;
}

.fondoPerfil {
    background: -webkit-gradient(linear, left top, right top, from(#2fb6b8), to(#54cdb2));
    background: linear-gradient(to right, #54cdb2, #2fb6b8);
    padding: 20px 0;
    border-radius: 5px;
}

.card-block {
    padding: 1.25rem;
}

.textoFondoPerfil{
  color: white;
  text-align: center !important;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

.textoPerfil {
    color: #919aa3 !important;
}

.linea {
    border-bottom: 1px solid #e0e0e0;
}

.titulosPerfil {
    font-weight: 600;
    margin-bottom: 5px;
}

.boton{
  background-color: #54cdb2;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  flex: 1;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.eliminar{
  background-color: #ba3636;
}

.contenedorBoton{
  margin-top: 20px;
  display: flex;
  justify-content: space-between
}

#ocultar{
  display: none;
}

#eye1{
  cursor: pointer;
}

#eye2{
  cursor: pointer;
}

.close {
  position: absolute;
  right: 5px;
  border: none;
  background-color: white;
}

.bloque{
  margin: 80px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.breadcrumb-item{
  font-size: 20px;
}

.card{
  margin: 20px;
}

.card-body{
  display: flex;
  justify-content: center;
  flex-direction: column
}

.card-text{
  margin-bottom: 0;
}

.contenedorBotonTemario{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column
}

.botonTemario{
  background-color: #54cdb2;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.botonCancelar{
  background-color: #cd243a;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  margin: 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.modal-footer{
  justify-content: center;
}

.enlaceTemario{
  text-decoration: none;
  color: black;
  width: 100%;
}

.trash{
  position: absolute;
  right: 15px;
  top:5px;
}

.breadcrumb{
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 0;
}

.cantidad{
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 0;
  color: #9db5da8c;
}

.form-control{
  border: 1px solid #aaa;
  padding: 0 5px 5px 0;
  min-height: 32px;
}


.formulario{
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.sidebar {
  background-color: #f9f9f9;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
  text-align: center;
  margin-top: 50px;

}

.question {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap; /* Para permitir que los elementos se envuelvan a la siguiente línea */
  width: 200px;
}

.question-link {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: black;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  line-height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formularioPrueba{
  width: 100%;
}