{% extends 'oposicion/base.html' %}
{% load static %}

{% block section1 %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'temario' %}">Temario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'pruebas' %}">Pruebas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'progreso' %}">Progreso</a>
</li>
{% endblock section1 %}

{% block section2 %}

<div class="padding">
    <div class="row contenedor">
        <div class="col-lg-6">
            <div class="card">
                <div class="fondoPerfil">
                    <div class="card-block textoFondoPerfil">
                        <div>
                            <img src="{% static 'usuarios/img/perfil.png' %}" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h6 class="titulosPerfil">{{user.nombre}}</h6>
                    </div>
                </div>
                <div class="card-block">
                    <h6 class="linea titulosPerfil">Datos del usuario</h6>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="titulosPerfil">Nombre completo:</p>
                            <h6 class="textoPerfil">{{user.nombre}}</h6>
                        </div>
                        <div class="col-lg-6">
                            <p class="titulosPerfil">Nombre de usuario:</p>
                            <h6 class="textoPerfil">{{user.username}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="titulosPerfil">Email:</p>
                            <h6 class="textoPerfil">{{user.email}}</h6>
                        </div>
                    </div>
                    <div class="contenedorBoton">
                        <a href="{% url 'editarPerfil' %}" class="boton">EDITAR PERFIL</a>
                        <button type="button" class="boton eliminar" data-toggle="modal" data-target="#exampleModalCenter">
                            ELIMINAR PERFIL
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Eliminar perfil</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <h2 aria-hidden="true">&times;</h2>
              </button>
            </div>
            <div class="modal-body">
              Desea eliminar su perfil permanentemente?
            </div>
            <div class="modal-footer">
              <a href="{% url 'eliminarPerfil' %}" class="boton eliminar">ELIMINAR PERFIL</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock section2 %}